<!DOCTYPE html>
<html>
    <head>
        {include file="common/meta" /}
        <link href="__CDN__/assets/css/user.css?v={$Think.config.site.version}" rel="stylesheet">
    </head>

    <body>

        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#header-navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{:url('/')}">{$site.name}</a>
                </div>
                <div class="collapse navbar-collapse" id="header-navbar">
                    <ul class="nav navbar-nav" data-current="{$__CHANNEL__.id|default=0}">
                        <!--如果你需要自定义NAV,可使用channellist标签来完成,这里只设置了2级,如果显示无限级,请使用cms:nav标签-->
                        {cms:channellist id="nav" type="top" condition="1=isnav"}
                        <!--判断是否有子级或高亮当前栏目-->
                        <li class="{if $nav.has_child}dropdown{/if} {if $nav->is_active} active{/if}">
                            <a href="{$nav.url}" {if $nav.has_child} data-toggle="dropdown" {/if}>{$nav.name}{if $nav.has_child} <b class="caret"></b>{/if}</a>
                            <ul class="dropdown-menu" role="menu">
                                {cms:channellist id="sub" type="son" typeid="$nav['id']" condition="1=isnav"}
                                <li><a href="{$sub.url}">{$sub.name}</a></li>
                                {/cms:channellist}
                            </ul>
                        </li>
                        {/cms:channellist}
                        <!--如果需要无限级请使用cms:nav标签-->
                        {//cms:nav maxlevel="3" cache="86400" /}
                    </ul>
                    <ul class="nav navbar-right hidden">
                        <ul class="nav navbar-nav">
                            <li><a href="javascript:;" class="addbookbark"><i class="fa fa-star"></i> 加入收藏</a></li>
                            <li><a href="javascript:;" class=""><i class="fa fa-phone"></i> 联系我们</a></li>
                        </ul>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <form class="form-inline navbar-form" action="{:addon_url('cms/search/index')}" method="post">
                                {:token('__searchtoken__')}
                                <div class="form-search hidden-sm hidden-md">
                                    <input class="form-control" name="q" data-suggestion-url="{:addon_url('cms/search/suggestion')}" type="text" id="searchinput" value="{$Think.request.q|default=''|htmlentities}" placeholder="搜索">
                                </div>
                            </form>
                        </li>
                        <li class="dropdown">
                            {if $user}
                            <a href="{:url('index/user/index', '', false, $Think.config.url_domain_deploy?'www':'')}" class="dropdown-toggle" data-toggle="dropdown" style="padding-top: 10px;height: 50px;">
                                <span class="avatar-img"><img src="{$user.avatar|cdnurl}" style="width:30px;height:30px;border-radius:50%;" alt=""></span>
                            </a>
                            {else /}
                            <a href="{:url('index/user/index', '', false, $Think.config.url_domain_deploy?'www':'')}" class="dropdown-toggle" data-toggle="dropdown">会员<span class="hidden-sm">中心</span> <b class="caret"></b></a>
                            {/if}
                            <ul class="dropdown-menu">
                                {if $user}
                                <li><a href="{:url('index/user/index', '', false, $Think.config.url_domain_deploy?'www':'')}"><i class="fa fa-user fa-fw"></i>会员中心</a></li>
                                <li><a href="{:url('index/cms.archives/post', '', false, $Think.config.url_domain_deploy?'www':'')}"><i class="fa fa-pencil fa-fw"></i>发布文章</a></li>
                                <li><a href="{:addon_url('cms/user/index', [':id'=>$user['id']])}"><i class="fa fa-user fa-fw"></i>我的个人主页</a></li>
                                <li><a href="{:url('index/cms.archives/my', '', false, $Think.config.url_domain_deploy?'www':'')}"><i class="fa fa-list fa-fw"></i>我发布的文章</a></li>
                                <li><a href="{:url('index/cms.order/index', '', false, $Think.config.url_domain_deploy?'www':'')}"><i class="fa fa-shopping-bag fa-fw"></i>我的消费订单</a></li>
                                <li><a href="{:url('index/cms.comment/index', '', false, $Think.config.url_domain_deploy?'www':'')}"><i class="fa fa-comments fa-fw"></i>我发表的评论</a></li>
                                <li><a href="{:url('index/user/logout', '', false, $Think.config.url_domain_deploy?'www':'')}"><i class="fa fa-sign-out fa-fw"></i>注销</a></li>
                                {else /}
                                <li><a href="{:url('index/user/login', '', false, $Think.config.url_domain_deploy?'www':'')}"><i class="fa fa-sign-in fa-fw"></i>登录</a></li>
                                <li><a href="{:url('index/user/register', '', false, $Think.config.url_domain_deploy?'www':'')}"><i class="fa fa-user-o fa-fw"></i>注册</a></li>
                                {/if}
                    
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <main class="content">
            {__CONTENT__}
        </main>

        <footer class="footer" style="clear:both">
            <p class="copyright">Copyright&nbsp;©&nbsp;2017-2020 {$site.name} All Rights Reserved <a href="http://www.beian.miit.gov.cn" target="_blank">{$site.beian|htmlentities}</a></p>
        </footer>

        {include file="common/script" /}

    </body>

</html>